.button {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.button-green {
    background: #8aba56;
    color: #fff;
}

.button-green:hover {
    background: #6a9a36;
    transition: all ease .3s;
}

.button-blue {
    background: #59a3fc;
    color: #fff;
}

.button-gray {
    background: #aaa;
    color: #fff;
}

.button-men {
    float: left;
    min-width: 200px;
    max-width: 200px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;

}

.button--size-s {
    font-size: 14px;
}

.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button--border-thin {
    border: 1px solid;
}

.button--rayen {
    overflow: hidden;
    padding: 0;
}

.button--rayen.button--inverted {
    color: #fff;
}

.button--rayen::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8aba56;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.button--rayen.button--inverted::before {
    background: #fff;
    color: #37474f;
}

.button--rayen > span {
    display: block;
}

.button--rayen::before,
.button--rayen > span {
    padding: 1em 0em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.button--rayen:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--rayen:hover > span {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

